<br/>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>{{title}}</h1>
      

      <div class="">
   

        <div *ngFor="let survey of surveys; let i = index">
          <div class="row">
            <div class="col-lg-9"> 
              <h6 >{{survey.surveyTitle}}</h6>
            </div>
            
             <div *ngIf="isMySurvey" class="col-lg-3 buttons">
                  <!-- <a routerLink="/survey/result/{{ survey._id }}" class="btn btn-primary"><i></i>
                    </a> -->
                    <a routerLink="/survey/list/delete/{{ survey._id }}" (click)="onDeleteClick()" class="btn btn-danger"><i>Delete</i></a>
                      <!-- <a routerLink="/survey/edit/{{ survey._id }}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i>
                        </a> -->
              </div>

              <div *ngIf="!isMySurvey" class="col-lg-3 buttons">
                  <a routerLink="/survey/questions/{{ survey._id }}" class="btn btn-primary">
                    Participate</a>
                </div>
          </div>

       
          </div>
      </div>

    </div>
  </div>
</div>